{{- /* Start/end times and big-date strings. Start and end both at 00:00 = date-only (allDay). */ -}}
{{- $start := .Date -}}
{{- $end := $start -}}
{{- with .Params.end -}}{{- $end = time.AsTime . -}}{{- end -}}
{{- $allDay := and (eq ($start.Format "15:04:05") "00:00:00") (eq ($end.Format "15:04:05") "00:00:00") -}}
{{- $until := $end -}}
{{- if $allDay }}{{ $until = $end.AddDate 0 0 1 }}{{ end -}}
{{- $sameDay := eq ($start.Format "2006-01-02") ($end.Format "2006-01-02") -}}
{{- $sameMonth := eq ($start.Format "2006-01") ($end.Format "2006-01") -}}
{{- $sameYear := eq $start.Year $end.Year -}}
{{- $days := $start.Format "02" -}}
{{- $months := $start | time.Format "January 2006" -}}
{{- if not $sameDay -}}
  {{- $days = printf "%s–%s" ($start.Format "02") ($end.Format "02") -}}
  {{- if not $sameMonth -}}
    {{- if $sameYear -}}
      {{- $months = printf "%s – %s" ($start | time.Format "January") ($end | time.Format "January 2006") -}}
    {{- else -}}
      {{- $months = printf "%s – %s" ($start | time.Format "January 2006") ($end | time.Format "January 2006") -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return dict
  "start" $start
  "end" $end
  "until" $until
  "allDay" $allDay
  "sameDay" $sameDay
  "days" $days
  "months" $months
  "iso" ($until.Format "2006-01-02T15:04:05-07:00")
  "isPast" ($until.Before now)
-}}
